TicTacToe/Client/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Shared" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameServer_get_GameState_InputMessage">
    <wsdl:part name="parameters" element="tns:get_GameState" />
  </wsdl:message>
  <wsdl:message name="IGameServer_get_GameState_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_GameStateResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServer_set_GameState_InputMessage">
    <wsdl:part name="parameters" element="tns:set_GameState" />
  </wsdl:message>
  <wsdl:message name="IGameServer_set_GameState_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_GameStateResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServer_NewStateSince_InputMessage">
    <wsdl:part name="parameters" element="tns:NewStateSince" />
  </wsdl:message>
  <wsdl:message name="IGameServer_NewStateSince_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewStateSinceResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServer_StartNewGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartNewGame" />
  </wsdl:message>
  <wsdl:message name="IGameServer_StartNewGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartNewGameResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameServer">
    <wsdl:operation name="get_GameState">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServer/get_GameState" message="tns:IGameServer_get_GameState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServer/get_GameStateResponse" message="tns:IGameServer_get_GameState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_GameState">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServer/set_GameState" message="tns:IGameServer_set_GameState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServer/set_GameStateResponse" message="tns:IGameServer_set_GameState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewStateSince">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServer/NewStateSince" message="tns:IGameServer_NewStateSince_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServer/NewStateSinceResponse" message="tns:IGameServer_NewStateSince_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartNewGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServer/StartNewGame" message="tns:IGameServer_StartNewGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServer/StartNewGameResponse" message="tns:IGameServer_StartNewGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameServer" type="tns:IGameServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_GameState">
      <soap:operation soapAction="http://tempuri.org/IGameServer/get_GameState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_GameState">
      <soap:operation soapAction="http://tempuri.org/IGameServer/set_GameState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewStateSince">
      <soap:operation soapAction="http://tempuri.org/IGameServer/NewStateSince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartNewGame">
      <soap:operation soapAction="http://tempuri.org/IGameServer/StartNewGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameServer">
    <wsdl:port name="BasicHttpBinding_IGameServer" binding="tns:BasicHttpBinding_IGameServer">
      <soap:address location="http://localhost:8080/femirad" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>