TicTacToe/Client/Service References/ServiceReference1/Shared.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GameState">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPlayer" type="tns:Player" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Plays" nillable="true" type="q1:ArrayOfKeyValueOfPlayerArrayOfCoordfWkuK2QV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameState" nillable="true" type="tns:GameState" />
  <xs:simpleType name="Player">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Cross" />
      <xs:enumeration value="Circle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfCoord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Coord" type="tns:Coord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoord" nillable="true" type="tns:ArrayOfCoord" />
  <xs:complexType name="Coord">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coord" nillable="true" type="tns:Coord" />
</xs:schema>